#answer-area {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.5em;
  overflow: scroll;
}

.answer-info-title {
  font-weight: bold;
  margin-top: 2em;
}

.answer-time {
  margin-top: 10px;
}

#answer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.answer-list-row {
  margin-top: 10px;
}

.share-button-area {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.next-problem-wait-time {
  margin-top: 10px;
  margin-bottom: 2em;
}